<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <link rel="icon" href="./public/APP_PROYECTO_FINAL/img/LOGO_APP.png" type="LOGO_APP.png" > -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="./js/actlineas.js"></script>
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/cuentasconsultar.css">
    <link rel="stylesheet" href="/css/primeraparte.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    <title> CREDITOS </title>

<body><header class="header">

    <div class="header-1">

        <a href="#" class="logo"> <i class="fas fa-car"></i>CONCESSIONAIRE </a>

        <form action="" class="search-form">
            <input type="search" name="" placeholder="search here..." id="search-box">
            <label for="search-box" class="fas fa-search"></label>
        </form>

        <div class="icons">
            <div id="search-btn" class="fas fa-search"></div>
            
            <a href="/precio" class="fas fa-hand-holding-usd"></a>
            
        </div>

    </div>

   

</header>
 
    <header>
      
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>
<thead>
    
<div id="titulo">
    <section class="form-register">
        <form action="" none="frm" id="frm">
<table id="tabla" >	
        <tr>
        <td> NOMBRE </td>
        
        <td> APELLIDO </td>
       
        <td> TELEFONO </td>
        
     

        <td> ACTUALIZAR </td>

        <% datos.forEach(function(datos) { %>

            <tr></tr>
            <td><input   type="text"  value="<%=datos.codlinea%>"         id="docli"       class="docli"  ></td>
            <td><input   type="text"  value="<%=datos.nomlinea%>"         id="nommclii"       class="nommclii"  ></td>
            <td><input   type="text"  value="<%=datos.montomaxicredito%>"         id="vee"       class="vee"  ></td>

            
            
            
            
            
            <td><input  type="submit"  value="actualizar" name="btnact" id="btnact"   class="btnact"    class="form-control"  ></td>
            
            <%})%> 
            </tbody>

</table>
</section>

</head>
</form>    
</body>
</html>