<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Cliente</title>
    <link rel="stylesheet" href="/css/vistacliente.css">
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>VISTA CLIENTE</title>
</head>
<body>
  <html>
<section class="contenedor-fondo-animado">
  <div class="animacion">
      <!--  -->
      <span class="uno"></span>
      <span class="dos"></span>
      <span class="tres"></span>
      <span class="cuatro"></span>
      <!--  -->
      <span class="uno"></span>
      <span class="dos"></span>
      <span class="tres"></span>
      <span class="cuatro"></span>
      <!--  -->
      <span class="uno"></span>
      <span class="dos"></span>
      <span class="tres"></span>
      <span class="cuatro"></span>
  </div>
  <div class="seccion-contenido">
      <div class="contenido">
          <h4>BIENVENIDO A LA VISTA ADMINISTRADOR</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</p>
          <ul>
              <li><a href="/clientes">Clientes</a></li>
          </ul>
      </div>
  </div>
</section> 
<div class="mis-redes" style="display: block;position: fixed;bottom: 1rem;left: 1rem; opacity: 0.5; z-index: 1000;">
  <p style="font-size: .75rem;">Contactanos</p>
  <div>
      <a target="_blank" href="https://www.facebook.com/ApockGraficos"><i class="fab fa-facebook-square"></i></a>
      <a target="_blank" href="https://twitter.com/ApockGraficos"><i class="fab fa-twitter"></i></a>
      <a target="_blank" href="https://www.instagram.com/ApockGraficos"><i class="fab fa-instagram"></i></a>
      <a target="_blank" href="https://www.youtube.com/channel/UC15DkMZQ80aoW_Rqk4n2T_w"><i class="fab fa-youtube"></i></a>
  </div>
</div>
<!--====  End of tarjeta  ====-->


</html>
</body>